
<div style="height: 100%;width:100%;padding-top:56px">
<ngb-carousel >
  <ng-template ngbSlide>
    <img src="../../assets/chicken-dum-biryani.jpg" width="100%" height="100%" style="min-height: 300px">

  </ng-template>

  <ng-template ngbSlide>
      <img src="../../assets/veg-dum-biryani.jpg" width="100%" height="100%" style="min-height: 300px">

    </ng-template>

    <ng-template ngbSlide>
        <img src="../../assets/goat-dum-biryani.jpg" width="100%" height="100%" style="min-height: 300px">

    </ng-template>

    <ng-template ngbSlide>
        <img src="../../assets/chicken-65.jpg" width="100%" height="100%" style="min-height: 300px">

    </ng-template>

    <ng-template ngbSlide>
        <img src="../../assets/gobi-manchuria.jpg" width="100%" height="100%" style="min-height: 300px" >

    </ng-template>

    <ng-template ngbSlide>
        <img src="../../assets/gulab-jamun.jpg" width="100%" height="100%" style="min-height: 300px">

    </ng-template>


</ngb-carousel>

<br/>

<mat-card >
<p style="padding:10px;">
<img src="../../assets/google-play-badge.png"   />
<span style="width:10px">&nbsp;</span>
<img src="../../assets/apple-appstore.png"   />
</p>
</mat-card>

</div>
