<div style="padding-top:56px">
  <mat-card>
<mat-card-header>Menu</mat-card-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1 col-sm-6 col-md-6 col-lg-4 marginTop5px">

          <mat-card class="example-card">
            <mat-card-header>

              <mat-card-title>Chicken Biryani</mat-card-title>
              <mat-card-subtitle>$9.99</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/chicken-dum-biryani.jpg">

            <mat-card-actions>
              <button mat-button>ADD TO CART</button>

            </mat-card-actions>
          </mat-card>

        </div>
        <div class="col-xs-1 col-sm-6 col-md-6 col-lg-4 marginTop5px">
          <mat-card class="example-card">
            <mat-card-header>

              <mat-card-title>Goat Biryani</mat-card-title>
              <mat-card-subtitle>$9.99</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/goat-dum-biryani.jpg">

            <mat-card-actions>
              <button mat-button>ADD TO CART</button>

            </mat-card-actions>
          </mat-card>

        </div>
        <div class="col-xs-1 col-sm-6 col-md-6 col-lg-4 marginTop5px">
          <mat-card class="example-card">
            <mat-card-header>

              <mat-card-title>Veg Biryani</mat-card-title>
              <mat-card-subtitle>$9.99</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/veg-dum-biryani.jpg">

            <mat-card-actions>
              <button mat-button>ADD TO CART</button>

            </mat-card-actions>
          </mat-card>

        </div>
      </div>


      <div class="row">
          <div class="col-xs-1 col-sm-6 col-md-6 col-lg-4 marginTop5px">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Chicken 65</mat-card-title>
                <mat-card-subtitle>$9.99</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../../assets/chicken-65.jpg">

              <mat-card-actions>
                <button mat-button>ADD TO CART</button>

              </mat-card-actions>
            </mat-card>

          </div>
          <div class="col-xs-1 col-sm-6 col-md-6 col-lg-4 marginTop5px">
            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Gobi Manchuria</mat-card-title>
                <mat-card-subtitle>$9.99</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../../assets/gobi-manchuria.jpg">

              <mat-card-actions>
                <button mat-button>ADD TO CART</button>

              </mat-card-actions>
            </mat-card>

          </div>
          <div class="col-xs-1 col-sm-6 col-md-6 col-lg-4 marginTop5px">
            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Gulab Jamun</mat-card-title>
                <mat-card-subtitle>$9.99</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../../assets/gulab-jamun.jpg">

              <mat-card-actions>
                <button mat-button>ADD TO CART</button>

              </mat-card-actions>
            </mat-card>

          </div>
        </div>
    </div>
  </mat-card>
</div>
