<mat-toolbar style="max-height: 56px;position:fixed;z-index: 2">
  <i class="material-icons">
    restaurant
  </i>
  <span style="font-size: 16px">
    <a routerLink="/home" style="color:black"> Karri Foods </a>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>


  <a mat-button routerLink="/menu"> <i class="material-icons example-icon">
    menu
    </i>Menu </a>

  <a mat-icon-button style="color:black" routerLink="/cart">
   <!-- <mat-icon matBadge="3" matBadgeColor="warn" class="material-icons example-icon">
      shopping_cart
    </mat-icon>-->
    <mat-icon matBadge="3" matBadgeColor="warn" class="material-icons example-icon">
      shopping_cart
    </mat-icon>
  </a>

  <a mat-icon-button style="color:black" href="https://goo.gl/maps/v2286PLBZUT2" target="_blank">
    <i class="material-icons example-icon">

      location_on
    </i>
  </a>


  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <i class="material-icons example-icon">
      account_box
    </i>
  </button>

    <mat-menu #userMenu="matMenu" overlapTrigger="false">
      <div style="padding:10px">
        Ravikumar Karri
      </div>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/orders" style="color:black">
        <mat-icon>reorder</mat-icon>
        <span>My Orders</span>
      </a>



      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="convMenu">
    <i class="material-icons example-icon">
      chat
    </i>
  </button>

  <mat-menu #convMenu="matMenu" overlapTrigger="false">

      <button mat-menu-item>
        <img src="../assets/whatsapp.png">
        <span>&nbsp;<a style="color:black" href="https://api.whatsapp.com/send?phone=19255770575" target="_blank">+19255770575</a></span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
          <img src="../assets/facebook.png">
        <span>&nbsp;<a style="color:black"  href="https://www.facebook.com/messages/t/lokesh.sikharam" target="_blank">Ravikumar Karri</a></span>
      </button>



    </mat-menu>

</mat-toolbar>



<router-outlet></router-outlet>

